body {
    background-color: #191b28e3;
    transition: background 0.6s;
}

.light-mode {
    background-color: rgb(180, 180, 180);
}

.calcborder {
    padding: 15px;
    border-radius: 1em;
    height: 420px;
    width: 440px;
    margin: auto;
    background-color: #191b28;
    box-shadow: 24px 21px 12px rgba(0, 0, 0, 1);
}

.display {
    text-align: right;
    font-size: large;
    font-family: 'Orbitron', sans-serif;
    background-color: #929292;
    border: solid black 0.5px;
    color: rgb(0, 0, 0);
    border-radius: 5px;
    width: 200% !important;
    height: 65% !important;
    overflow: hidden;
    text-overflow: ellipsis;
}

#btn1 , #btn2 , #bckspc {
    background-color: #9d0b28;
    cursor: pointer;
}

#btn1:hover , #btn2:hover , #bckspc:hover {
    background-color: #191b28e3;
    color: #ff004c;
    cursor: pointer;
}

input[type=button] {
    font-family: 'Orbitron', sans-serif;
    background-color: #000000;
    color: rgb(253, 253, 253);
    border: solid black 0.5px;
    width: 100%;
    border-radius: 25px;
    height: 70%;
    outline: none;
    cursor: pointer;
}

input:active[type=button] {
    background: #e5e5e5;
    color: rgb(0, 0, 0);
    -webkit-box-shadow: inset 0px 0px 5px #c1c1c1;
    -moz-box-shadow: inset 0px 0px 5px #c1c1c1;
    box-shadow: inset 0px 0px 5px #c1c1c1;
}

::placeholder {
    color:black;
}

h1 {
    text-align: center;
    color: #9d0b28;
    background-color:#000000;
    width: 25%;
    position: sticky;
    margin: auto;
    border-radius: 25px;
}

td {
    width: 25%;
}

.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 33px;
}
  
.switch__input {
    opacity: 0;
    width: 0;
    height: 0;
}
  
.switch__slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #9d0b28;
    -webkit-transition: .4s;
    transition: .4s;
    border-radius: 34px;
}
  
.switch__slider::before {
    position: absolute;
    content: "";
    height: 25px;
    width: 25px;
    left: 4px;
    bottom: 4px;
    background-color: #000000;
    -webkit-transition: .4s;
    transition: .4s;
    border-radius: 50%;
}

.switch__input:checked + .switch__slider {
    background-color: #9d0b28;
}
  
.switch__input:checked + .switch__slider::before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}
