body {
    background-color: #191b28e3;
}

.calcborder {
    padding: 10px;
    border-radius: 1em;
    height: 380px;
    width: 400px;
    margin: auto;
    background-color: #191b28;
    box-shadow: rgb(0, 0, 0) 0px 20px 20px, rgb(0, 0, 0) 10px 6px 6px;
}

.display {
    text-align: right;
    font-family: 'Orbitron', sans-serif;
    background-color: #929292;
    border: solid black 0.5px;
    color: rgb(0, 0, 0);
    border-radius: 5px;
    width: 97% !important;
    height: 64% !important;
    overflow: hidden;
    text-overflow: ellipsis;
}

#btn1 , #btn2 , #bckspc {
    background-color: #ff004c;
    cursor: pointer;
}

#btn1:hover , #btn2:hover , #bckspc:hover {
    background-color: #191b28e3;
    color:#ff004c ;
    cursor: pointer;
}

input[type=button] {
    font-family: 'Orbitron', sans-serif;
    background-color: #000000;
    color: rgb(253, 253, 253);
    border: solid black 0.5px;
    width: 100%;
    border-radius: 25px;
    height: 70%;
    outline: none;
    cursor: pointer;
}

input:active[type=button] {
    background: #e5e5e5;
    color: rgb(0, 0, 0);
    -webkit-box-shadow: inset 0px 0px 5px #c1c1c1;
    -moz-box-shadow: inset 0px 0px 5px #c1c1c1;
    box-shadow: inset 0px 0px 5px #c1c1c1;
}

::placeholder {
    color:black;
}

h1 {
    text-align: center;
    color: #ff004c;
    background-color:#000000;
    width: 25%;
    position: sticky;
    margin: auto;
    border-radius: 25px;
}

td {
    width: 25%;
}
